[submodule "/srv/data/jlange/power-system-split/scenario_generation/workflow/submodules/pypsa-eur"]
	path = /srv/data/jlange/power-system-split/scenario_generation/workflow/submodules/pypsa-eur
	url = https://github.com/PyPSA/pypsa-eur.git
