numpy==1.19.0
networkx==2.5
scipy==1.5.2
pandas==1.2.0
matplotlib==3.4
tqdm==4.44
pypsa==0.17
scikit-learn==0.24
netcdf4==1.5.6
xarray==0.18.2
pickle5==0.0.11
statsmodels==0.12.2 
seaborn==0.11.1
palettable==3.3.0